
:root{
  --space-m: 24px;
  --space-l: 12px;
  --space-xm:16px;
  --space-b: 36px;

  --size-s:14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border:#dee2e6;
  --color-pramery: rgb(38, 38, 248);
  --color-white:#ffffff;
  --color-hero:#5a5a5a;
  --color-text:#212529;
  --color-actions: #563D7C;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text:400;
}


/*=======================*/
.page{
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
justify-content: center;

}
.page_content{
  max-width: 960px;
  width: 100%;
  
  display: flex;
 flex-direction: column;

 gap: 80px;
}

/*========================*/

.header {
  padding: var(--space-m) 0;
  border-bottom: 1px solid var(--color-border);
  
  display: flex;
  justify-content: space-between;
 
}

.logo{
  font-size: var(--space-m);
  color: var(--color-white);
  background: var(--color-actions);

  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.badge{
  background-color: var(--color-actions);
}

.divider{
  margin: 0;
  height: 1px;
  background: var(--color-border);
}

.nav{
  display: flex;

 }

 .nav_inline{
  gap: var(--space-xm);
 }

 .nav_vertical{
  gap: var(--space-l);
flex-direction: column;
 }

 .nav_link{
  color: #343a40;
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  
 }

 .nav_link:hover{
  text-decoration: underline;
  color: var(--color-pramery);
 }


.footer{
  display: flex;
  justify-content: space-between;
  padding:var(--space-m) 0;

}
.footer_copiright{
font-size: var(--size-s);
color: #6C757D;

display: block;
margin-top: var(--space-l);
}

.footer_title{
  font-size: var(--size-l);
  color: var(--color-text);
 font-weight: var(--weight-title);
  display: block;
  margin-bottom: var(--space-l);
}

.main{
  display: flex;
  gap: var(--space-b);
  align-items: center;

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.main_image{
  width: 500px;
  height: 500px;
  border-radius: calc(var(--border-radius)/2);
}

.main_content{
  display: flex;
  flex-direction: column;

  gap: var(--space-l);
}

.main_title{
  font-size: var(--space-b);
  font-weight: var(--weith-title);
  color: var(--color-hero);
  line-height: 120%;

}

.main_text{
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;

  color:var(--color-hero);

}
.button{
  display: inline-block;

  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-l) var(--space-xm);
  border-radius: var(--border-radius);

}

.main_button{

 color: var(--color-white);
  background-color: #6C757D;
  width: 100%;
  max-width: 120px;
  border-radius: 4px;
}

.main_button:hover{
  opacity: 0.7;
}

.featured{
  display: flex;
  gap: var(--space-m);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.featured_card{
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  width: 100%;
}

.featured_image{
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
  gap: 10px;
}

.featured_title{
  font-size: 32px;
  font-family: var(--weight-title);
 color: var(--color-text);
}

.featured_text{
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-text);
  line-height: 27px;
}

.featured_button{
  color: var(--color-pramery);
 
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color:var(--color-actions);
  padding: var(--space-m);
  border-radius: var(--border-radius);
  margin: 80px 0;
}

.actions_content{
  display: flex;
  flex-direction: column;
   gap: var(--space-l);
   width: 240px;
}

.actions_title{
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);

}


.form_button{ 
  color: var(--color-text);
  background-color: var(--color-white);
  border-radius: 4px;
  text-align: center;
  

}